.cleinton{font-size: larger;
text-align: center;
color: blue;
font-style: italic;
}

.carlos{color: azure;
text-align: center;
}

body{
    background-color: black;
}

.nathan{text-align: center;
    border-color:blueviolet
}

#imal{width: 70;


}


.kaue