.exemplo{background-color: blue;
    font-size: medium;
    text-align: left;
}

.Joel{background-color: aquamarine;
    font-size: medium;
    text-align: left;
}
.Ellie{background-color: blueviolet;
font-size: medium;
text-align: left;
}